.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 40px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("https://devd365ce.crm.dynamics.com//WebResources/new_ToggleBefore");
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 40px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-image: url("https://devd365ce.crm.dynamics.com//WebResources/new_ToggleAfter");
}


input:checked + .slider:before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
}

#LabelId {
    font-size: 24px;
    vertical-align: top;
    padding: 4%; 
}
